<div class="col-md-6">
      <apx-chart
            [series]="monthlySalesChartOptions.series"
            [chart]="monthlySalesChartOptions.chart"
            [xaxis]="monthlySalesChartOptions.xaxis"
            [yaxis]="monthlySalesChartOptions.yaxis"
            [colors]="monthlySalesChartOptions.colors"
            [plotOptions]="monthlySalesChartOptions.plotOptions"
            [grid]="monthlySalesChartOptions.grid"
            [title]="monthlySalesChartOptions.title"
          ></apx-chart>
  </div>
