<div class="container">
  <mat-toolbar color="primary">
    <span>Product registration</span>
    <span class="example-spacer"></span>
    <button
      class="form-button"
      mat-raised-button
      color="warn"
      (click)="showForm = true"
      *ngIf="!showForm"
    >
      +Add
    </button>
  </mat-toolbar>

  <div *ngIf="showForm" class="form-section">
    <form
      [formGroup]="itemMapForm"
      class="example-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="example-form-div">
        <mat-form-field class="example-full-width">
          <mat-label>Featured Product</mat-label>
          <mat-select
            formControlName="product"
            (selectionChange)="onProductChange($event)"
          >
            <mat-option
              *ngFor="let product of productItems"
              [value]="product.id"
            >
              {{ product.productId + "-" + product.product }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Initial Weight"
            formControlName="initialWeight"
            type="number"
          />
        </mat-form-field>
        <div formArrayName="itemList">
          <div
            class="subtask-row"
            *ngFor="let item of itemList.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Item Name</mat-label>
              <mat-select
                formControlName="itemId"
                required
                (selectionChange)="onItemChange($event, i)"
              >
                <mat-option
                  *ngFor="let item of filteredItems"
                  [value]="item.id"
                >
                  {{ item.itemName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Category</mat-label>
              <input
                matInput
                placeholder="Category"
                formControlName="category"
              />
              <!-- <mat-select formControlName="categoryName" required (selectionChange)="onCategoryChange($event, i)">
              <mat-option *ngFor="let category of itemCategories" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select> -->
            </mat-form-field>

            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Quantity"
                formControlName="itemQuantity"
                placeholder="Quantity"
                type="number"
              />
            </mat-form-field>

            <button
              type="button"
              class="btn btn-danger remove-button"
              (click)="removeItem(i)"
            >
              -
            </button>
          </div>

          <button
            type="button"
            class="btn btn-primary mt-2 mb-4"
            (click)="addItem()"
          >
            +
          </button>
        </div>
      </div>

      <button
        type="submit"
        color="primary"
        class="form-button"
        mat-raised-button
        [disabled]="isButtonDisabled"
      >
        {{ saveButtonLabel }}
      </button>
      <button
        type="reset"
        color="secondary"
        class="form-button"
        mat-raised-button
        (click)="resetData()"
      >
        Reset
      </button>
      <button
        mat-raised-button
        type="button"
        class="form-button"
        color="warn"
        (click)="closeForm()"
      >
        Cancel
      </button>
    </form>
  </div>

  <!-- Table section -->

  <div class="table-section">
    <div class="refresh-filter-section">
      <div class="refresh-button">
        <button mat-icon-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <mat-form-field class="filter">
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef>Product Id</th>
        <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <ng-container matColumnDef="initialWeight">
        <th mat-header-cell *matHeaderCellDef>Initial weight</th>
        <td mat-cell *matCellDef="let element">{{ element.initialWeight }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="editItem(element)"
            (click)="showForm = true"
            *ngIf="!showForm"
            matTooltip="edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td></ng-container
      >

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
