<div class="popup-box">
  <h2 mat-dialog-title>{{ data.product }}</h2>
  <div class="popup-content">
    <img [src]="data.image" [alt]="data.product" style="max-width: 250px; border-radius: 8px" />

    <div class="product-details">
      <p>{{ data.description }}</p>

      <ul>
        <li><strong>Size:</strong>{{ data.initialWeight }}g</li>
      </ul>

      <p><strong>Price: Rs.</strong> {{ data.finalPrice }}</p>
      <div class="mat-dialog-actions">
        <button mat-raised-button color="primary" (click)="goToOrderPage()">View details</button>
        <button (click)="closePopup()" mat-raised-button color="warn">Close</button>
      </div>

    </div>
  </div>
</div>





<!-- <div class="popup-box" *ngFor="let product of products">
  <h2 mat-dialog-title>{{ product.product }}</h2>
  <div class="popup-content">
    <img
      [src]="product.image"
      [alt]="product.product"
      style="max-width: 250px; border-radius: 8px"
    />

    <div class="product-details">
      <p>{{ product.description }}</p>

      <ul>
        <li><strong>Size: </strong>{{ product.initialWeight }}g</li>
        
      </ul>

      <p><strong>Price: Rs.</strong> {{ product.finalPrice }}</p>
      <div class="mat-dialog-actions">
          <button mat-raised-button color="primary" (click)="goToOrderPage()">View details</button>
          <button (click)="closePopup()" mat-raised-button color="warn">Close</button>
      </div>
      
    </div>
  </div>
</div> -->