<div class="container">

    <!-- Form section -->
  
      <div class="form-section">
          <form [formGroup]="ItemRegForm" class="example-form" (ngSubmit)="onSubmit()">
            <div class="example-form-div">
                <mat-form-field class="full-width">
                  <mat-label>Item Id</mat-label>
                  <input matInput placeholder="Enter item Id" formControlName="itemId">
                  <span class="text-danger" *ngIf="(ItemRegForm.get('itemId')?.touched || submitted) && ItemRegForm.get('itemId')?.errors && ItemRegForm.get('itemId')?.errors!['required']">
                    Item Id is required
                  </span>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Item</mat-label>
                  <mat-select matInput placeholder="Select the item name" formControlName="item">
                    @for (items of item; track items) {
                      <mat-option [value]="items.value">{{items.viewValue}}</mat-option>
                    }
                  </mat-select>
                  <span class="text-danger" *ngIf="(ItemRegForm.get('item')?.touched || submitted) && ItemRegForm.get('item')?.errors && ItemRegForm.get('item')?.errors!['required']">
                    Item name is required
                  </span>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Measurement Category</mat-label>
                    <mat-select matInput placeholder="Select the measurement category" formControlName="category">
                      @for (categories of category; track categories) {
                        <mat-option [value]="categories.value">{{categories.viewValue}}</mat-option>
                      }
                    </mat-select>
                    <span class="text-danger" *ngIf="(ItemRegForm.get('category')?.touched || submitted) && ItemRegForm.get('category')?.errors && ItemRegForm.get('category')?.errors!['required']">
                      Measurement category is required
                    </span>
                  </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Unit quantity</mat-label>
                  <input matInput placeholder="Enter the unit quantity" formControlName="unitQuantity">
                  <span class="text-danger" *ngIf="(ItemRegForm.get('unitQuantity')?.touched || submitted) && ItemRegForm.get('unitQuantity')?.errors && ItemRegForm.get('unitQuantity')?.errors!['required']">
                    Unit quantity is required
                  </span>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Supplier Id</mat-label>
                    <input matInput placeholder="Enter the supplier Id" formControlName="supplierId">
                    <span class="text-danger" *ngIf="(ItemRegForm.get('supplierId')?.touched || submitted) && ItemRegForm.get('supplierId')?.errors && ItemRegForm.get('supplierId')?.errors!['required']">
                        Supplier Id is required
                    </span>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Total cost</mat-label>
                    <input matInput placeholder="Enter total cost" formControlName="totalCost">
                    <span class="text-danger" *ngIf="(ItemRegForm.get('totalCost')?.touched || submitted) && ItemRegForm.get('totalCost')?.errors && ItemRegForm.get('totalCost')?.errors!['required']">
                      Total cost is required
                    </span>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Total quantity</mat-label>
                    <input matInput placeholder="Enter total quantity" formControlName="totalQuantity">
                    <span class="text-danger" *ngIf="(ItemRegForm.get('totalQuantity')?.touched || submitted) && ItemRegForm.get('totalQuantity')?.errors && ItemRegForm.get('totalQuantity')?.errors!['required']">
                      Total quantity is required
                    </span>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Unit cost</mat-label>
                    <input matInput placeholder="Unit cost" formControlName="unitCost" readonly>
                    <span class="text-danger" *ngIf="(ItemRegForm.get('unitCost')?.touched || submitted) && ItemRegForm.get('unitCost')?.errors && ItemRegForm.get('unitCost')?.invalid && ItemRegForm.get('unitCost')?.errors!['required']">
                      Please enter valid total cost and quantities first
                    </span>
                  </mat-form-field>
              </div>
            
            
            
    
            <button type="submit" color="primary" class="form-button" mat-raised-button [disabled]="isButtonDisabled">{{ saveButtonLabel }}</button>
            <button type="reset" color="secondary" class="form-button" mat-raised-button (click)="resetData()">Reset</button>
    
          </form>
        </div>
  
  
        <!-- Table section -->
  
  
        <div class="table-section">
          <div class="refresh-filter-section">
              <div class="refresh-button">
               <button mat-icon-button color="primary" (click)="refreshData()">
                <mat-icon>refresh</mat-icon>
               </button>
              </div>
            
            <mat-form-field class="filter">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
          </div>
      
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
          
            <ng-container matColumnDef="itemId">
              <th mat-header-cell *matHeaderCellDef> Item Id </th>
              <td mat-cell *matCellDef="let element"> {{element.itemId}} </td>
            </ng-container>
  
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let element"> {{element.item}} </td>
            </ng-container>
  
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
  
            <ng-container matColumnDef="unitQuantity">
              <th mat-header-cell *matHeaderCellDef> Unit quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.unitQuantity}} </td>
            </ng-container>
  
            <ng-container matColumnDef="supplierId">
              <th mat-header-cell *matHeaderCellDef> Supplier Id </th>
              <td mat-cell *matCellDef="let element"> {{element.supplierId}} </td>
            </ng-container>
    
            <ng-container matColumnDef="totalCost">
              <th mat-header-cell *matHeaderCellDef> Total cost </th>
              <td mat-cell *matCellDef="let element"> {{element.totalCost}} </td>
            </ng-container>
  
            <ng-container matColumnDef="totalQuantity">
              <th mat-header-cell *matHeaderCellDef> Total quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.totalQuantity}} </td>
            </ng-container>

            <ng-container matColumnDef="unitCost">
              <th mat-header-cell *matHeaderCellDef> Unit cost </th>
              <td mat-cell *matCellDef="let element"> {{element.unitCost}} </td>
            </ng-container>
      
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="edit">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="black" (click)="deleteData(element)" matTooltip="delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          
          
        </div>
  </div>