<div class="container">
    
    <div class="form-section">
        <button (click)="backToCartPage()" class="mb-2" mat-raised-button color="warn">
            Back to Cart
        </button>
        <mat-toolbar color="primary">
            <span>Billing Details</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <form [formGroup]="BillingForm" class="example-form" (ngSubmit)="onSubmit()">
          <div class="example-form-div">
              <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <span class="text-danger" *ngIf="(BillingForm.get('name')?.touched || submitted) && BillingForm.get('name')?.errors && BillingForm.get('name')?.errors!['required']">
                  Name is required
                </span>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <span class="text-danger" *ngIf="(BillingForm.get('email')?.touched || submitted) && BillingForm.get('email')?.errors && BillingForm.get('email')?.errors!['required']">
                  Email is required
                </span>
                <span class="text-danger" *ngIf="(BillingForm.get('email')?.touched || submitted) && BillingForm.get('email')?.errors && BillingForm.get('email')?.errors!['email']">
                  Enter a valid email
                </span>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address">
                <span class="text-danger" *ngIf="(BillingForm.get('address')?.touched || submitted) && BillingForm.get('address')?.errors && BillingForm.get('address')?.errors!['required']">
                  Address is required
                </span>
                <span class="text-danger" *ngIf="(BillingForm.get('address')?.touched || submitted) && BillingForm.get('address')?.errors && BillingForm.get('address')?.errors!['maxlength']">
                  Maximum lenght is 150
                </span>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Contact number</mat-label>
                <input matInput placeholder="Contact number" formControlName="contactNumber">
                <span class="text-danger" *ngIf="(BillingForm.get('contactNumber')?.touched || submitted) && BillingForm.get('contactNumber')?.errors && BillingForm.get('contactNumber')?.errors!['required']">
                  Contact number is required
                </span>
                <span class="text-danger" *ngIf="(BillingForm.get('contactNumber')?.touched || submitted) && BillingForm.get('contactNumber')?.errors && BillingForm.get('contactNumber')?.errors!['minlength']">
                  Enter a valid number
                </span>
                <span class="text-danger" *ngIf="(BillingForm.get('contactNumber')?.touched || submitted) && BillingForm.get('contactNumber')?.errors && BillingForm.get('contactNumber')?.errors!['maxlength']">
                  Enter a valid number
                </span>
              </mat-form-field>
            </div>
          
            <button type="submit" color="primary" class="form-button" mat-raised-button [disabled]="isButtonDisabled">{{ saveButtonLabel }}</button>
            <button mat-raised-button color="warn ms-2" (click)="closePage()">Close</button>
        </form>
    </div>
    <div class="table-section">



        <mat-card class="order-summary-card">
            <mat-card-header>
                <mat-card-title>Order Summary</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let element of dataSource?.data" class="summary-product-row">
                    <div class="summary-product-main">
                        <div class="summary-product-name">{{ product.itemName }}</div>
                        <div class="summary-product-details">
                            <div *ngIf="element.size">Size: {{ element.size }}</div>
                            <div *ngIf="element.quantity">Qty: {{ element.quantity }}</div>
                        </div>
                    </div>
                    <div>
                        <!-- {{ element.totalPrice | currency:'LKR' }} -->
                          {{ "Rs."+element.price }}
                    </div>
                    <div class="summary-product-price">
                        <!-- {{ element.totalPrice | currency:'LKR' }} -->
                          {{ "Rs."+element.totalPrice }}
                    </div>
                </div>
                <hr class="summary-divider" />
                
                <div class="summary-row grand-total">
                    <span><strong>Order Total</strong></span>
                    <span><strong>{{ "Rs."+grandTotal }}</strong></span>
                </div>
                <div class="checkout-container">
                    <button mat-raised-button color="primary" class="checkOutBtn">Checkout</button>
                </div>
            </mat-card-content>
        </mat-card>









        <!-- <mat-card class="order-summary-card">
            <mat-card-header>
                <mat-card-title>Order Summary</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="product-details">
                    <h3>{{product.name}}</h3>
                    <mat-card-content> -->
                        
                        <!-- <ul>
                            <li><strong>Size:</strong> {{ product.size }}g</li>
                            <li><strong>Quantity:</strong> {{ product.quantity }}</li>
                            <li><strong>Item price:</strong> {{ product.price }}</li>
                            <li><strong>Tital Price: Rs.</strong> {{ product.price }}</li>
                        </ul> -->

                        <!-- <table mat-table [dataSource]="dataSource" class="borderless-table">

                            <ng-container matColumnDef="size">
                                <th mat-header-cell *matHeaderCellDef> Size </th>
                                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                            </ng-container>

                            <ng-container matColumnDef="itemPrice">
                                <th mat-header-cell *matHeaderCellDef> Item Price </th>
                                <td mat-cell *matCellDef="let element"> {{product.price}} </td>
                            </ng-container>

                            <ng-container matColumnDef="totalPrice">
                                <th mat-header-cell *matHeaderCellDef> Total Price </th>
                                <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>



                        
                        <div class="checkout-container">
                            <button mat-raised-button class="checkOutBtn" >Checkout</button>
                        </div>
                        
                    </mat-card-content>
                </div>
            </mat-card-content>
        </mat-card> -->

        <!-- <section class="example-container mat-elevation-z8" tabindex="0">
            <mat-toolbar color="primary">
            <span>Order summary</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
            <table mat-table [dataSource]="transactions">
                
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>

               
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Cost </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
        </section> -->
    </div>
</div>