<div class="container">
    <mat-toolbar color="primary">
        <span>Employee registration</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="form-section">
      <form [formGroup]="EmpRegForm" class="example-form" (ngSubmit)="onSubmit()">
        <div class="example-form-div">
          <div class="form-part">
            <mat-form-field class="full-width">
              <mat-label>Employee number</mat-label>
              <input matInput placeholder="Employee number" formControlName="employeeNumber">
              <span class="text-danger" *ngIf="(EmpRegForm.get('employeeNumber')?.touched || submitted) && EmpRegForm.get('employeeNumber')?.errors && EmpRegForm.get('employeeNumber')?.errors!['required']">
                Employee number is required
              </span>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Full name</mat-label>
              <input matInput placeholder="Full name" formControlName="fullName">
              <span class="text-danger" *ngIf="(EmpRegForm.get('fullName')?.touched || submitted) && EmpRegForm.get('fullName')?.errors && EmpRegForm.get('fullName')?.errors!['required']">
                Full name is required
              </span>
            </mat-form-field>
            <!-- <mat-form-field class="full-width">
              <mat-label>Calling name</mat-label>
              <input matInput placeholder="Calling name" formControlName="callingName">
              <span class="text-danger" *ngIf="(EmpRegForm.get('callingName')?.touched || submitted) && EmpRegForm.get('callingName')?.errors && EmpRegForm.get('callingName')?.errors!['required']">
                Calling name is required
              </span>
            </mat-form-field> -->
            <mat-form-field class="full-width">
              <mat-label>NIC</mat-label>
              <input matInput placeholder="NIC" formControlName="nic">

              <!-- To get the details of the requirement -->
              <!-- <span class="text-danger" *ngIf="(EmpRegForm.get('callingName')?.touched || submitted) && EmpRegForm.get('callingName')?.errors">
                {{EmpRegForm.get('nic')?.errors|json}}
              </span> -->
              <span class="text-danger" *ngIf="(EmpRegForm.get('nic')?.touched || submitted) && EmpRegForm.get('nic')?.errors && EmpRegForm.get('nic')?.errors!['required']">
                Enter the NIC number
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('nic')?.touched || submitted) && EmpRegForm.get('nic')?.errors && EmpRegForm.get('nic')?.errors!['minlength']">
                Enter a valid NIC number
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('nic')?.touched || submitted) && EmpRegForm.get('nic')?.errors && EmpRegForm.get('nic')?.errors!['maxlength']">
                Enter a valid NIC number
              </span>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthday">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <span class="text-danger" *ngIf="(EmpRegForm.get('birthday')?.touched || submitted) && EmpRegForm.get('birthday')?.errors && EmpRegForm.get('birthday')?.errors!['required']">
                Birthday is required
              </span>
            </mat-form-field>
            <!-- <mat-form-field class="full-width">
              <mat-label>Age</mat-label>
              <input matInput placeholder="Age" formControlName="age">
              <span class="text-danger" *ngIf="(EmpRegForm.get('age')?.touched || submitted) && EmpRegForm.get('age')?.errors && EmpRegForm.get('age')?.errors!['required']">
                Age number is required
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('age')?.touched || submitted) && EmpRegForm.get('age')?.errors && EmpRegForm.get('age')?.errors!['min']">
                Minimum age is 20
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('age')?.touched || submitted) && EmpRegForm.get('age')?.errors && EmpRegForm.get('age')?.errors!['max']">
                Maximum age is 60
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('age')?.touched || submitted) && EmpRegForm.get('age')?.errors && EmpRegForm.get('age')?.errors!['customAgeValidator']">
                Please insert a valid age
              </span>
            </mat-form-field> -->
          </div>
          <div class="form-part">
            <mat-form-field class="full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" formControlName="address">
              <span class="text-danger" *ngIf="(EmpRegForm.get('address')?.touched || submitted) && EmpRegForm.get('address')?.errors && EmpRegForm.get('address')?.errors!['required']">
                Address is required
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('address')?.touched || submitted) && EmpRegForm.get('address')?.errors && EmpRegForm.get('address')?.errors!['maxlength']">
                Maximum lenght is 150
              </span>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Contact number</mat-label>
              <input matInput placeholder="Contact number" formControlName="contactNumber">
              <span class="text-danger" *ngIf="(EmpRegForm.get('contactNumber')?.touched || submitted) && EmpRegForm.get('contactNumber')?.errors && EmpRegForm.get('contactNumber')?.errors!['required']">
                Contact number is required
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('contactNumber')?.touched || submitted) && EmpRegForm.get('contactNumber')?.errors && EmpRegForm.get('contactNumber')?.errors!['minlength']">
                Enter a valid number
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('contactNumber')?.touched || submitted) && EmpRegForm.get('contactNumber')?.errors && EmpRegForm.get('contactNumber')?.errors!['maxlength']">
                Enter a valid number
              </span>
            </mat-form-field>
            
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
              <span class="text-danger" *ngIf="(EmpRegForm.get('email')?.touched || submitted) && EmpRegForm.get('email')?.errors && EmpRegForm.get('email')?.errors!['required']">
                Email is required
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('email')?.touched || submitted) && EmpRegForm.get('email')?.errors && EmpRegForm.get('email')?.errors!['email']">
                Enter a valid email
              </span>
            </mat-form-field>
            <!-- <mat-form-field class="full-width">
              <mat-label>Emergency Contact</mat-label>
              <input matInput placeholder="Emergency Contact" formControlName="emergencyContact">
              <span class="text-danger" *ngIf="(EmpRegForm.get('emergencyContact')?.touched || submitted) && EmpRegForm.get('emergencyContact')?.errors && EmpRegForm.get('emergencyContact')?.errors!['required']">
                Emergency Contact is required
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('emergencyContact')?.touched || submitted) && EmpRegForm.get('emergencyContact')?.errors && EmpRegForm.get('emergencyContact')?.errors!['minlength']">
                Enter a valid number
              </span>
              <span class="text-danger" *ngIf="(EmpRegForm.get('emergencyContact')?.touched || submitted) && EmpRegForm.get('emergencyContact')?.errors && EmpRegForm.get('emergencyContact')?.errors!['maxlength']">
                Enter a valid number
              </span>
            </mat-form-field> -->
            <mat-form-field>
              <mat-label>Job role</mat-label>
              <mat-select matInput placeholder="Job role" formControlName="jobRole">
                @for (jobRoles of jobRole; track jobRoles) {
                  <mat-option [value]="jobRoles.value">{{jobRoles.viewValue}}</mat-option>
                }
              </mat-select>
              <span class="text-danger" *ngIf="(EmpRegForm.get('jobRole')?.touched || submitted) && EmpRegForm.get('jobRole')?.errors && EmpRegForm.get('jobRole')?.errors!['required']">
                Job role is required
              </span>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option" formControlName="gender">
              <mat-label>Gender</mat-label>
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              <span class="text-danger" *ngIf="(EmpRegForm.get('gender')?.touched || submitted) && EmpRegForm.get('gender')?.errors && EmpRegForm.get('gender')?.errors!['required']">
                Gender is required
              </span>
            </mat-radio-group>
          </div>
        </div>
        
        
        

        <button type="submit" color="primary" class="form-button" mat-raised-button [disabled]="isButtonDisabled">{{ saveButtonLabel }}</button>
        <button type="reset" color="secondary" class="form-button" mat-raised-button (click)="resetData()">Reset</button>

      </form>
    </div>

    <div class="table-section">
      <div class="refresh-filter-section">
          <div class="refresh-button">
           <button mat-icon-button color="primary" (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
           </button>
          </div>
        
        
        <mat-form-field class="filter">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
      </div>
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        
        <ng-container matColumnDef="employeeNumber">
          <th mat-header-cell *matHeaderCellDef> Employee Number </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeNumber}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
      
      
        <!-- <ng-container matColumnDef="callingName">
          <th mat-header-cell *matHeaderCellDef> Calling Name </th>
          <td mat-cell *matCellDef="let element"> {{element.callingName}} </td>
        </ng-container> -->
      
      
        <ng-container matColumnDef="nic">
          <th mat-header-cell *matHeaderCellDef> NIC </th>
          <td mat-cell *matCellDef="let element"> {{element.nic}} </td>
        </ng-container>

        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef> Birthday </th>
          <td mat-cell *matCellDef="let element"> {{element.birthday | date: 'yyyy-MM-dd'}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container> -->

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
          <th mat-header-cell *matHeaderCellDef> Contact Number </th>
          <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="emergencyContact">
          <th mat-header-cell *matHeaderCellDef> Emergency Contact </th>
          <td mat-cell *matCellDef="let element"> {{element.emergencyContact}} </td>
        </ng-container> -->

        <ng-container matColumnDef="jobRole">
          <th mat-header-cell *matHeaderCellDef> Job Role </th>
          <td mat-cell *matCellDef="let element"> {{element.jobRole}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="black" (click)="deleteData(element)" matTooltip="delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      
      
    </div>

    
</div>
